---
layout: default
title: CASLAB@Yonsei / Photos
categories:
 - photos
---

<div class="row">
  <div class="col-md-12">
    <h1>Group Photos</h1>
  </div>
</div>

<hr>
{% assign n_galleries = 0 -%}
{% for photo in site.categories.photos %}
{% if photo.template -%}{% continue -%}{% endif -%}
<div class="row">
  <div class="col-md-12" id="{{ photo.title }}">
    <h2><a class="off" href="/photos/#{{ photo.title }}">{{ photo.title }}</a></h2>
    <hr/>
    {% include photo_slide.html photo=photo.images gall_index=n_galleries %}
</div>

<div class="spacer"></div>
{% assign n_galleries = n_galleries | plus: 1 -%}
{% endfor %}
<script>
  init_slides({{ n_galleries }});
</script>