---
layout: default
title: CASLAB@Yonsei
categories:
 - home
---

<div class="row">
  <div class="col-md-12">
    <!--<object id="home-logo" class="pull-left" data="/images/rigg.png" type="image/png">
    </object>-->
    <div id="home-title">
      Welcome to CASLAB@Yonsei!
    </div>
  </div>
  <div class="col-md-12">
    <ul>
      <li><a href="https://cas.dgist.ac.kr/">Computer Architecture and Systems Laboratory</a></li>
      <li><a href="https://system.yonsei.ac.kr/">Dept. of Systems Semiconductor Engineering</a></li>
      <li><a href="https://www.yonsei.ac.kr/">Yonsei University</a></li>
    </ul>
  </div>
</div>

<div class="bigspacer"></div>
<div class="bigspacer"></div>

<div class="row">
  <div class="col-md-12">
    <h1>
      <a class="off" href="/photos/">
        Recent Events
      </a>
    </h1>
    <hr>
    <div class="bigspacer"></div>
  </div>
</div>

  {% assign counter = 1 %}
  {% assign loopindex = -1 %}
  <div class="row" style="margin: 0 auto;">
  {% for photo in site.categories.photos limit:8 %}
    {% assign loopindex = counter | modulo: 4 %}
    <!--{% include pub_box.html pub=publication short=true %}-->
    <div class="col-md-3">
      <a href="/photos/#{{ photo.title }}">
        <div class="row" style="position: relative; width: 100%; padding-bottom: 56.25%; overflow: hidden; margin: 0 auto;">
          <img src="{{ photo.image }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
        </div>
        <div class="row" style="text-align: center;">
          {{ photo.title}}
        </div>
      </a>
      {% assign counter = counter | plus: 1 %}
    </div>
  {% endfor %}
</div>
