---
layout: default
title: CASLAB@Yonsei
categories:
 - home
---

<div class="row">
  <div class="col-md-12">
    <!--<object id="home-logo" class="pull-left" data="/images/rigg.png" type="image/png">
    </object>-->
    <div id="home-title">
      Welcome to CASLAB@Yonsei!
    </div>
  </div>
  <div class="col-md-12">
    <ul>
      <li><a href="https://cas.dgist.ac.kr/">Computer Architecture and Systems Laboratory</a></li>
      <li><a href="https://system.yonsei.ac.kr/">Dept. of Systems Semiconductor Engineering</a></li>
      <li><a href="https://www.yonsei.ac.kr/">Yonsei University</a></li>
    </ul>
  </div>
</div>

<div class="bigspacer"></div>
<div class="bigspacer"></div>

<div class="row">
  <div class="col-md-12">
    <h1>
      <a class="off" href="/publications/">
        Recent Publications
      </a>
    </h1>
    <hr>
    <div class="bigspacer"></div>
  </div>
</div>

  {% assign counter = 1 %}
  {% assign loopindex = -1 %}
  <div class="row">
  {% for photo in site.categories.photos limit:4 %}
    {% assign loopindex = counter | modulo: 4 %}
    <!--{% include pub_box.html pub=publication short=true %}-->
    <div class="col-md-2" style="display: flex">
      <a href="/photos/#{{ photo.title }}"><img width=100% src="{{ photo.image }}"></a>
      {{ photo.title}}
      {% assign counter = counter | plus: 1 %}
    </div>
  {% endfor %}
</div>
