---
layout: default
title: CASLAB@Yonsei
categories:
 - home
---

<div class="row">
  <div class="col-md-12">
    <!--<object id="home-logo" class="pull-left" data="/images/rigg.png" type="image/png">
    </object>-->
    <div id="home-title">
      Welcome to CASLAB@Yonsei!
    </div>
  </div>
  <div class="col-md-12">
    <ul style="padding-left: 24px;">
      <li><a href="https://cas.dgist.ac.kr/">Computer Architecture and Systems Laboratory</a></li>
      <li><a href="https://system.yonsei.ac.kr/">Dept. of Systems Semiconductor Engineering</a></li>
      <li><a href="https://www.yonsei.ac.kr/">Yonsei University</a></li>
    </ul>
  </div>
</div>

<div class="bigspacer"></div>
<div class="bigspacer"></div>

<div class="row">
  <div class="col-md-12">
    <h1>
      <a class="off" href="/photos/">
        Recent Events
      </a>
    </h1>
  </div>
</div>
<div class="col-md-12 carousel-body">
  <div class="carousel-wrapper">
    <ul class="carousel">
  {%- for photo in site.categories.photos limit:20 -%}
      <li class="carousel-item">
        <a class="off" href="/photos/#{{- photo.title -}}" draggable="false">
          <div class="carousel-image">
            {%- for image in photo.images limit:1 -%}
              <img src="{{ image }}" draggable="false">
            {%- endfor -%}
          </div>
          <span class="carousel-title">
            {{- photo.title -}}
          </span>
        </a>
      </li>
  {% endfor -%}
    </ul>
    <i class="fa fa-angle-left carousel-control" id="cc-left"></i>
    <i class="fa fa-angle-right carousel-control" id="cc-right"></i>
  </div>
</div>

{% comment %}
{% assign counter = 1 %}
{% assign loopindex = -1 %}
<div class="row">
{% for photo in site.categories.photos limit:4 %}
  {% assign loopindex = counter | modulo: 4 %}
  {% if loopindex == 1 %}
  <div class="row" style="margin-bottom: 15px">
  {% endif %}
  <!--{% include pub_box.html pub=publication short=true %}-->
    <div class="col-md-3">
      <a class="off" href="/photos/#{{ photo.title }}">
        <div class="row" style="position: relative; width: 100%; padding-bottom: 56.25%; overflow: hidden; margin: 0 auto;">
          {% for image in photo.images limit:1 %}
            <img src="{{ image }}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
          {% endfor %}
        </div>
        <div class="row" style="text-align: center;">
          {{ photo.title}}
        </div>
      </a>
    </div>
  {% if loopindex == 0 %}
  </div>
  {% endif %}
  {% assign counter = counter | plus: 1 %}
{% endfor %}
</div>
{% endcomment %}

<div class="bigspacer"></div>

<div class="row">
  <div class="col-md-12">
    <h1>
      <a class="off" href="/news/">
        News
      </a>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="news">
      <thead>
        <tr class="header news">
          <td class="date">Date</td>
          <td class="news">News</td>
        </tr>
      </thead>
      <tbody>
        {% for news in site.categories.news limit:20 %}
        <tr class="body">
          <td class="date">{{ news.year }}</td>
          <td class="news">{{ news.title }}</td>
        </tr>
        {% endfor -%}
      </tbody>
    </table>
  </div>
</div>