---
layout: default
title: CASLAB / Research
categories:
 - research
---

<script src="/js/smooth-scroll.min.js"></script>

<div class="row">
  <div class="col-md-12 post">
    <h1>Research</h1>
    <hr/>
    <p>
    We investigate the cutting edge of computer systems and architecture. 
    We are dedicated to advancing AI performance, revolutionizing cloud application optimization, 
    and pushing the boundaries of next-gen memory solutions. 
    We are also committed to efficient power management and proactive architectural security.
    </p>
  </div>
</div>

<div class="bigspacer"></div>

<h3>Research Topics:</h3>
<ol>
{% for topic in site.categories.research %}
  <li>
    <a data-scroll href="#{{ topic.alias }}">{{ topic.title }}</a>
  </li>
{% endfor %}
</ol>

<div class="bigspacer"></div>

<div class="row">
  <div class="col-md-12">
  {% for topic in site.categories.research %}
    {% include research_post.html topic_loc=topic %}
    <div class="bigspacer"></div>
    <div class="bigspacer"></div>
  {% endfor %}
  </div>
</div>

<script>
  smoothScroll.init();
</script>
