---
layout: default
title: CASLAB@Yonsei / Lectures
categories:
 - lectures 
---

<div class="row">
  <div class="col-md-12 post">
    <h1>Lectures</h1>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="lecture">
      <thead>
        <tr class="header lecture">
          <td class="code">Code</td>
          <td class="course">Course</td>
          <td class="target">Target</td>
          <td class="semesters">Semesters</td>
          <td class="note">Note</td>
        </tr>
      </thead>
      <tbody>
        {% for course in site.categories.lectures %}
          {% if course.template -%}{% continue -%}{% endif -%}
        <tr class="body">
          <td class="code">{{ course.code }}</td>
          <td class="course">{{ course.title }}</td>
          <td class="target">{{ course.target }}</td>
          <td class="semesters">{% for semester in course.semesters reversed -%}{{ semester }}{% unless forloop.last -%}, {% endunless -%}{% endfor -%}</td>
          <td class="notes">{% for note in course.notes reversed -%}{{ note }}{% unless forloop.last -%}, {% endunless -%}{% endfor -%}</td>
        </tr>
        {% endfor -%}
      </tbody>
    </table>
  </div>
</div>
{% endfor %}
