---
layout: default
title: CASLAB@Yonsei / News
categories:
 - news
---

<div class="row">
  <div class="col-md-12">
    <h1>News</h1>
  </div>
</div>
<hr>

{% for news in site.categories.news %}
  {% if news.template -%}{% continue -%}{% endif -%}
  {% capture prev_year %}{{ this_year }}{% endcapture %}
  {% capture this_year %}{{ news.YYYY }}{% endcapture %}

  {% if forloop.first %}
    <div class="row">
      <div class="col-md-12">
        <h2>{{ this_year }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="news">
          <thead>
            <tr class="header news">
              <td class="date">Date</td>
              <td class="news">News</td>
            </tr>
          </thead>
          <tbody>
  {% elsif this_year != prev_year %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h2>{{ this_year }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="news">
          <thead>
            <tr class="header news">
              <td class="date">Date</td>
              <td class="news">News</td>
            </tr>
          </thead>
          <tbody>
  {% endif %}
              <tr class="body">
                <td class="date">{% if news.YYYY -%}{{ news.YYYY }}{% endif -%}{% if news.MM -%}.{{ news.MM }}{% endif -%}{% if news.DD -%}.{{ news.DD }}{% endif -%}</td>
                <td class="news">
  {% assign linked = false -%}
  {% if news.linked -%}
                  <a href="{{ news.url }}" class="off">
    {% assign linked = true -%}
  {% elsif news.alterlink > 0 -%}
    {% assign linkindex = news.alterlink | minus: 1 -%}
    {% assign link = news.links[linkindex] -%}
    {% unless link == empty -%}
                  <a href="{{ link }}" class="off" target="_blank" rel="noopener noreferrer">
      {% assign linked = true -%}
    {% endunless -%}
  {% endif -%}
                    {{ news.title }}
  {% if linked -%}
                  </a>
  {% endif -%}
                </td>
              </tr>
{% endfor %}
          </tbody>
        </table>
      </div>
    </div>
