---
layout: default
title: CASLAB@Yonsei / News
categories:
 - news
---

{% for news in site.categories.news %}
  {% capture prev_year %}{{ this_year }}{% endcapture %}
  <!--{% capture this_year %}{% assign year = news.year | split: '.' | first -%}{% endcapture %}-->
  {% capture this_year %}{{ news.year }}{% endcapture %}

  {% if forloop.first %}
    <div class="row">
      <div class="col-md-12">
        <h1>{{ this_year }}</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table>
          <thead>
            <tr class="header">
              <td class="date">Date</td>
              <td class="news">News</td>
            </tr>
          </thead>
          <tbody>
  {% elsif this_year != prev_year %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1>{{ this_year }}</h1>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table>
          <thead>
            <tr class="header">
              <td class="date">Date</td>
              <td class="news">News</td>
            </tr>
          </thead>
          <tbody>
  {% endif %}
            <tr class="body">
              <td class="date">{{ news.year }}</td>
              <td class="news">{{ news.title }}</td>
            </tr>
{% endfor %}
          </tbody>
        </table>
      </div>
    </div>
