{% assign n_items_inc = 0 %}
{% for item in include.items %}
  {% if include.overt %}{% unless item.overt %}{% continue %}{% endunless %}{% endif %}
  {% assign n_items_inc = n_items_inc | plus: 1 %}
  {% unless include.overt %}{% if n_items_inc == 1 %}
  <div class="smallhead">
    {{ section.title }}
  </div>
  {% endif %}{% endunless %}

  {% assign icon = false %}
  {% if item.icon %}
    {% assign icon = item.icon | prepend: 'seungkyu-' | remove: '-fa-' | remove: 'seungkyu-' | remove: 'seungkyu' | prepend: 'fa-'  %}
  {% endif %}

  {% case item.type %}
    {% when 'text' %}
      {% unless icon %}{% assign icon = 'fa-info-circle' %}{% endunless %}
<div class="pad-left note {% if item.reveal %}reveal{% endif %}">
  <i class="fa {{ icon }} fa-fw"></i>
  <span>{{ item.text }}</span>
</div>

    {% when 'link' %}
      {% assign external = true %}
      {% unless item.url contains '://' %}{% assign external = false %}{% endunless %}
      {% unless icon %}
        {% if external %}{% assign icon = 'fa-external-link' %}
        {% else %}{% assign icon = 'fa-link' %}
        {% endif %}
      {% endunless %}
<div class="pad-left note {% if item.reveal %}reveal{% endif %}">
  <i class="fa {{ icon }} fa-fw"></i>
  <span>
    {% unless item.url == '#' or item.url == nil %}
    <a class="off" href="{{ item.url }}"{% if external %} target="_blank" rel="noopener noreferrer"{% endif %}>
    {% endunless %}
      {% if item.text %}{{ item.text }}{% else %}{{ item.url }}{% endif %}
    {% unless item.url == '#' or item.url == nil %}
    </a>
    {% endunless %}
  </span>
</div>

    {% when 'file' %}
      {% unless icon %}
        {% assign icon = 'fa-file-text-o' %}
      {% endunless %}
<div class="pad-left note {% if item.reveal %}reveal{% endif %}">
  <i class="fa {{ icon }} fa-fw"></i>
  <span>
    {% unless item.url == '#' or item.url == nil %}
    <a class="off" href="{{ item.url }}"{% if external %} target="_blank" rel="noopener noreferrer"{% endif %}>
    {% endunless %}
      {% if item.text %}{{ item.text }}{% else %}{{ item.url | split: '/' | last | split: '?' | first }}{% endif %}
    {% unless item.url == '#' or item.url == nil %}
    </a>
    {% endunless %}
  </span>
</div>

    {% when 'email' %}
      {% unless icon %}{% assign icon = 'fa-inbox' %}{% endunless %}
      {% assign emailarray = item.text | split: ' at ' %}
<div class="pad-left note {% if item.reveal %}reveal{% endif %}">
  <i class="fa {{ icon }} fa-fw"></i>
  <span><a class="off">{{ emailarray.first}}<span class="obfuscator" style="display:none">obfuscate</span>@{{ emailarray.last }}</a></span>
</div>

    {% when 'member' %}
      {% unless icon %}{% assign icon = 'fa-user' %}{% endunless %}
      {% assign member = site.categories.members | where 'title', item.name %}
      <div class="pad-left note {% if item.reveal %}reveal{% endif %}">
        <i class="fa {{ icon }} fa-fw"></i>
        <span>
          <a class="off" href="{{ member.url }}">
            {% if member.prefix %}{{ member.prefix }} {% endif %}{{ member.title }}
          </a>
        </span>
      </div>

    {% when 'internal' %}
      {% assign newpage = site.posts | where_exp: 'search', 'search.url == item.url' %}
      {% if newpage.size > 0 %}
        {% assign newpage = newpage | first %}
        {% unless icon %}
          {% case newpage.categories[0] %}
            {% when 'members' %}{% assign icon = 'fa-user' %}
            {% when 'publications' %}{% assign icon = 'fa-file-text-o' %}
            {% when 'research' %}{% assign icon = 'fa-book' %}
            {% when 'lectures' %}{% assign icon = 'fa-university' %}
            {% when 'news' %}{% assign icon = 'fa-newspaper-o' %}
            {% when 'photo' %}{% assign icon = 'fa-picture-o' %}
            {% else %}{% assign icon = 'fa-link' %}
          {% endcase %}
        {% endunless %}
<div class="pad-left note {% if item.reveal %}reveal{% endif %}">
  <i class="fa {{ icon }} fa-fw"></i>
  <span>
    <a class="off" href="{{ item.url }}">
      {% if item.text %}{{ text }}{% else %}{{ newpage.title }}{% endif %}
    </a>
  </span>
</div>
      {% endif %}
  {% endcase %}
{% endfor %}
{% unless include.overt %}{% if n_items_inc > 0 %} 
<div class="spacer"></div>
{% endif %}{% endunless %}
