{% comment -%}
member_loc: member
gall_index: gallery index
n_limit: number of max photos
{% endcomment -%}

{%- assign member = include.member_loc -%}
{%- assign n_images = 0 -%}
{%- for photo in site.categories.photos -%}
  {%- if photo.template -%}{% continue %}{% endif %}
  {%- if photo.hidden -%}{% continue %}{% endif %}
  {% if include.n_limit and n_image >= include.n_limit %}{% break %}{% endif %}
  {%- for image in photo.images -%}
    {% assign linked = false %}
    {% for photo_member in image.members %}
      {% if photo_member == member.title %}
        {% assign linked = true %}
        {% break %}
      {% endif %}
    {% endfor %}
    {% if linked %}
      {%- if n_images == 0 -%}
<div class="slideshow-container" id="slides-gallery-{{ include.gall_index }}">
      {%- endif -%}
  <div class="slides-gallery-{{ include.gall_index }} slide-fade">
    <img src="{{ image.file }}" style="width: 100%;">
    <div class="slides-caption-{{ include.gall_index }}" id="slides-caption-{{ include.gall_index }}-{{ n_images }}">
      {% if image.caption -%}
        <span class="slides-desc-{{ include.gall_index }}" id="slides-desc-{{ include.gall_index }}-{{ n_images }}">
          {{ image.caption }}
        </span>
      {% endif -%}
      {% if image.members -%}
        <span class="slides-mem-{{ include.gall_index }}" id="slides-mem-{{ include.gall_index }}-{{ n_images }}">
          {%- if image.members.size > 1 or image.members[0].size > 1 -%}
            {%- if image.members.size > 1 or image.members[0].size > 1 -%}(from top to bottom) {%- endif -%}
            (from left to right)<br/>
          {%- endif -%}{% for memrow in image.members %}{% if forloop.length > 1 %}row {{ forloop.index }}: {% endif %}{%- include member_ref.html mem_loc=memrow lastrow=forloop.last -%}{% endfor %}
        </span>
      {% endif -%}
    </div>
    <div class="slides-btnbox-{{ include.gall_index }} slide-visible" id="slides-btnbox-{{ include.gall_index }}-{{ n_images }}">
      {% if image.caption -%}
        <i class="fa fa-info-circle slides-btn-desc-{{ include.gall_index }}" id="slides-btn-desc-{{ include.gall_index }}-{{ n_images }}"></i>
      {% endif -%}
      {% if image.members -%}
        <i class="fa fa-user slides-btn-mem-{{ include.gall_index }}" id="slides-btn-mem-{{ include.gall_index }}-{{ n_images }}"></i>
      {% endif -%}
    </div>
  </div>
      {% assign n_images = n_images | plus: 1 -%}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}
{%- if n_images > 0 -%}
  {% if n_images > 1 -%}
    <a class="slide-prev" onclick="next_slide({{ include.gall_index }}, -1)">&#10094;</a>
    <a class="slide-next" onclick="next_slide({{ include.gall_index }}, 1)">&#10095;</a>
    <div class="slides-dotbox-{{ include.gall_index }}">
      {% for idx in (1..n_images) -%}
        <span class="slides-dot-{{ include.gall_index }}" onclick="current_slide({{ include.gall_index }}, {{ idx }})"></span>
      {% endfor -%}
    </div>
  {% endif -%}
</div>
{%- endif -%}