{% if include.members %}{% assign members = include.members %}{% else %}{% assign members = site.categories.members %}{% endif %}
{% for member in members reversed %}
{% if member.template -%}{% continue -%}{% endif -%}
  {% if member.role == include.role %}
<div class="row" id="{% if member.profile_name %}{{ member.profile_name }}{% else %}{{ member.title }}{% endif %}">
  <div class="col-sm-3 pi-col">
    <div class="pi-sqr">
      <div class="pi-div">
        {% assign newtab = false -%}
        {% capture mem_url %}{%- if member.alterlink -%}{% assign newtab = true -%}{{ member.alterlink }}{%- else -%}{{ member.url }}{%- endif -%}{% endcapture %}
        {% unless mem_url == '#' %}
          <a href="{{ mem_url }}" class="off"{% if newtab == true %} target="_blank" rel="noopener noreferrer"{% endif %}>
        {% endunless %}
          <img class="pi-img" src="{{ member.image }}">
        {% unless mem_url == '#' %}
        </a>
        {% endunless %}
      </div>
    </div>
    <div class="spacer"></div>
    <div class="hidden-xs" style="text-align:left;">
      {% include member_links.html member_loc=member %}
    </div>
    <div class="bigspacer"></div>
    <div class="bigspacer"></div>
  </div>
  <div class="col-sm-9">
    {% unless mem_url == '#' %}
    <a href="{{ mem_url }}" class="off"{% if newtab == true %} target="_blank" rel="noopener noreferrer"{% endif %}>
    {% endunless %}
      <h1>{% if member.profile_name %}{{ member.profile_name }}{% else %}{{ member.title }}{% endif %}</h1>
    {% unless mem_url == '#' %}
    </a>
    {% endunless %}
    <h3>{{ member.position }}</h3>
    <div class="bigspacer"></div>
    {{ member.content }}
    <div class="bigspacer"></div>
    <div class="bigspacer"></div>
  </div>
</div>
  {% endif %}
{% endfor %}