{% if include.member_loc.role == "Alumni" -%}
<div class="smallhead">
  Graduated {{ include.member_loc.alumni.date }}
</div>
<div class="pad-left note reveal">
  <i class="fa fa-graduation-cap fa-fw"></i>
  <span>{{ include.member_loc.alumni.degree }} Degree</span>
</div>
  {% if include.member_loc.alumni.affiliation %}
<div class="pad-left note reveal">
  <i class="fa fa-briefcase fa-fw"></i>
  <span>{% if include.member_loc.alumni.designation %} {{ include.member_loc.alumni.designation }} at {% endif %}{{ include.member_loc.alumni.affiliation }}</span>
</div>
  {% endif %}
<div class="spacer"></div>
{% endif %}
{% for section in include.member_loc.sidebar %}
  <div class="smallhead">
    {{ section.title }}
  </div>
  {% include link_parse.html items=section.items %}
  <div class="spacer"></div>
{% endfor %}