{% comment -%}
mem_loc: member
gall_index: index of gallery
{% endcomment -%}

{% assign member = include.mem_loc -%}
{% assign n_images = 0 -%}

<div class="slideshow-container" style="position:relative; margin:auto;">
  {% assign n_images = 0 -%}
  {% for photo in site.categories.photos -%}
    <div class="slides-gallery-0 slide-fade">
      <img src="{{ image }}" style="width: 100%;">
    </div>
  {% endfor -%}
  {% if n_images > 1 -%}
    <a class="slide-prev" onclick="next_slide({{ include.gall_index }}, -1)">&#10094;</a>
    <a class="slide-next" onclick="next_slide({{ include.gall_index }}, 1)">&#10095;</a>
  {% endif -%}
</div>
<br/>
{% if n_images > 1 -%}
  <div style="text-align: center;">
    {% for idx in (1..n_images) -%}
      <span class="slides-dot-{{ include.gall_index }}" onclick="current_slide({{ include.gall_index }}, {{ idx }})"></span>
    {% endfor -%}
  </div>
{% endif -%}
</div>

{% for participant in include.mem_loc.participants %}
  {% assign linked = false %}
  {% for member in site.categories.members %}
    {% if participant == member.title %}
      {% capture mem_url %}{{ member.url }}{% endcapture %}
      {% assign linked = true %}
      {% break %}
    {% endif %}
  {% endfor %}
  {% if linked %}
    <a href="{{ mem_url }}">{{ participant }}</a>{% if forloop.last %}.{% else %}, {% endif %}
  {% else %}
    {{ participant }}{% if forloop.last %}.{% else %}, {% endif %}
  {% endif %}
{% endfor %}



<div class="slideshow-container" style="position:relative; margin:auto;">
  {% assign n_images = 0 -%}
  {% for image in include.images_loc -%}
    {% assign n_images = n_images | plus: 1 -%}
    <div class="slides-gallery-{{ include.gall_index }} slide-fade">
      <img src="{{ image }}" style="width: 100%;">
    </div>
  {% endfor -%}
  {% if n_images > 1 -%}
    <a class="slide-prev" onclick="next_slide({{ include.gall_index }}, -1)">&#10094;</a>
    <a class="slide-next" onclick="next_slide({{ include.gall_index }}, 1)">&#10095;</a>
  {% endif -%}
</div>
<br/>
{% if n_images > 1 -%}
  <div style="text-align: center;">
    {% for idx in (1..n_images) -%}
      <span class="slides-dot-{{ include.gall_index }}" onclick="current_slide({{ include.gall_index }}, {{ idx }})"></span>
    {% endfor -%}
  </div>
{% endif -%}
</div>