{% for participant in include.mem_loc %}
  {% assign linked = false %}
  {% capture name %}{{ participant }}{% endcapture %}
  {% for member in site.categories.members %}
    {% if participant == member.title %}
      {% capture mem_url %}{%- if member.alterlink -%}{{ member.alterlink }}{%- else -%}{{ member.url }}{%- endif -%}{% endcapture %}
      {% capture name %}{% if member.prefix %}{{ member.prefix }} {% endif %}{% if member.profile_name %}{{ member.profile_name }}{% else %}{{ member.title }}{% endif %}{% endcapture %}
      {% assign linked = true %}
      {% break %}
    {% endif %}
  {% endfor %}
  {% if linked %}
    <a href="{{ mem_url }}">{{ name }}</a>{% if forloop.last %}.{% else %}, {% endif %}
  {% else %}
    {{ name }}{% if forloop.last %}.{% else %}, {% endif %}
  {% endif %}
{% endfor %}
