{% for member in site.categories.members reversed %}
  {% if member.role == include.role %}
<div class="row" id="{% if member.profile_name %}{{ member.profile_name }}{% else %}{{ member.title }}{% endif %}">
  <div class="col-sm-3 pi-col">
    <div class="pi-sqr">
      <div class="pi-div">
        <a href="{%- if member.alterlink -%}{{ member.alterlink }}{%- else -%}{{ member.url }}{%- endif -%}">
          <img class="pi-img" src="{{ member.image }}">
        </a>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="hidden-xs" style="text-align:left;">
      {% include member_links.html member_loc=member %}
    </div>
  </div>
  <div class="col-sm-9">
    <a class="off" href="{%- if member.alterlink -%}{{ member.alterlink }}{%- else -%}{{ member.url }}{%- endif -%}">
      <h2>{% if member.profile_name %}{{ member.profile_name }}{% else %}{{ member.title }}{% endif %}</h2>
    </a>
    <h3>{{ member.position }}</h3>
    <div class="bigspacer"></div>
    {{ member.content }}
  </div>
  <div class="bigspacer"></div>
  <div class="bigspacer"></div>
</div>
  {% endif %}
{% endfor %}