
<div class="row">
  <table>
    <thead>
      <tr>
        <td>Name</td>
        <td>Degree</td>
        <td>Date</td>
        <td>Affiliation</td>
      </tr>
    </thead>
    <tbody>
{% for member in site.categories.members reversed -%}
{% if member.template -%}{% continue -%}{% endif -%}
  {% if member.role == include.role -%}
      <tr id="{% if member.profile_name %}{{ member.profile_name }}{% else %}{{ member.title }}{% endif %}">
        <td>
          {% assign blank = false -%}
          {% capture mem_url %}{%- if member.alterlink -%}{% assign blank = true -%}{{ member.alterlink }}{%- else -%}{{ member.url }}{%- endif -%}{% endcapture %}
          {% unless mem_url == '#' %}
          <a href="{{ mem_url }}" class="off"{% if blank == true %} target="_blank" rel="noopener noreferrer"{% endif %}>
          {% endunless %}
            {% if member.profile_name -%}{{ member.profile_name }}{% else -%}{{ member.title }}{% endif -%}
          {% unless mem_url == '#' %}
          </a>
          {% endunless %}
        </td>
        <td>{{ member.alumni.degree }}</td>
        <td>{{ member.alumni.date }}</td>
        <td>{{ member.alumni.affiliation }}</td>
      </tr>
  {% endif %}
{% endfor %}
    </tbody>
  </table>
</div>