{% for participant in include.mem_loc %}
  {% assign linked = false %}
  {% assign newtab = false -%}
  {% assign name = participant %}
  {% assign member = site.categories.members | where_exp: 'member', "member.title == participant" %}
  {% if member %}
    {% assign member = member | first %}
    {% capture mem_url %}{%- if member.alterlink -%}{% assign newtab = true -%}{{ member.alterlink }}{%- else -%}{{ member.url }}{%- endif -%}{% endcapture %}
    {% capture name %}{% if member.prefix %}{{ member.prefix }} {% endif %}{% if member.profile_name %}{{ member.profile_name }}{% else %}{{ member.title }}{% endif %}{% endcapture %}
    {% unless mem_url == '#' -%}{% assign linked = true %}{% endunless -%}
  {% endif %}
  {% if forloop.last and include.lastrow and forloop.length > 1 %}and {% endif %}
  {%- if linked -%}
    <a href="{{- mem_url -}}" class="off ref"{%- if newtab == true -%} target="_blank" rel="noopener noreferrer"{%- endif -%}>{{- name -}}</a>
  {%- else -%}
    {{- name -}}
  {%- endif -%}
  {%- if forloop.last -%}{%- if include.lastrow -%}.{%- else -%}, <br/>{%- endif -%}{%- else -%}, {%- endif -%}
{% endfor %}
