<div class="col-md-12 paperbox-full">
  <div class="media">
    {% assign n_info = 0 %}
    {% for info in include.pub.sidebar %}
      {% include link_parse_pub.html items=info.items %}
    {% endfor %}
    {% if n_info > 0 %}</div>{% endif %}
    <div class="media-body">
      <p class="smallnote">
        {% if include.pub.type == 'Paper' %}
        <b>[{{ include.pub.paper.publisher-short }}]</b>
        {% endif %}
        {% include pub_ref_name.html pub_loc=include.pub %}
      </p>
      <div class="media-heading">
        <a href="{{ include.pub.url }}" class="off">
          {{ include.pub.title }}
        </a>
      </div>
      <p class="smallnote">
        {% include pub_ref_publisher.html pub_loc=include.pub %}
      </p>
    </div>
  </div>
  <div class="bigspacer"></div>
</div>
