<div class="col-md-6 paperbox">
  <div class="media">
    {% if include.pub.type == 'Paper' %}
    <div class="publisher-short">
      <b>[{{ include.pub.paper.publisher-short }}]</b>
    </div>
    {% endif %}
    {% if include.pub.image %}
    <a class="pull-right" href="{{ include.pub.url }}">
      <img width=100 class="media-object" src="{{ include.pub.image }}">
    </a>
    {% endif %}
    <div class="media-body">
      <div class="media-heading">
        <a href="{{ include.pub.url }}" class="off">
          {{ include.pub.title }}
        </a>
      </div>
      <p class="smallnote">
        {% include pub_ref.html pub_loc=include.pub short=true %}
      </p>
      {% assign n_info = 0 %}
      {% for info in include.pub.sidebar %}
        {% include link_parse_pub.html items=info.items %}
      {% endfor %}
      {% if n_info > 0 %}</div>{% endif %}
    </div>
  </div>
  <div class="bigspacer"></div>
</div>
