
{% assign publication = include.pub_loc %}

{% if include.short == true %}

  {% for author in publication.authors-short %}
    {% assign linked = false %}
    {% assign newtab = false -%}
    {% for member in site.categories.members %}
      {% if author == member.abbrev %}
        {% capture mem_url %}{%- if member.alterlink -%}{% assign newtab = true -%}{{ member.alterlink }}{%- else -%}{{ member.url }}{%- endif -%}{% endcapture %}
        {% unless mem_url == '#' -%}{% assign linked = true %}{% endunless -%}
        {% break %}
      {% endif %}
    {% endfor %}
    {% if publication.co-first and forloop.index == 2 %}
      {% assign co-first-now = true %}
    {% else %}
      {% assign co-first-now = false %}
    {% endif %}
    {% if linked %}
        <a href="{{ mem_url }}"{% if newtab == true %} target="_blank" rel="noopener noreferrer"{% endif %}>
        {{ author }}</a>{% if co-first-now %} [co-first author]{% endif %}{% if forloop.last %}.{% else %}, {% endif %}
    {% else %}
      {{ author }}{% if co-first-now %} [co-first author]{% endif %}{% if forloop.last %}.{% else %}, {% endif %}
    {% endif %}
  {% endfor %}
  {% if publication.type == 'Conference' or publication.type == 'Journal' %}
  <i> {{ publication.paper.publisher-short }}</i> ({{publication.paper.year}})
  {%- elsif publication.type == 'Patent' -%}
    <br/>{{ publication.patent.status }}, {{ publication.patent.nation }}
    {%- if publication.patent.status == 'issued' -%}
      , No. {{ publication.patent.number-publication }} ({{ publication.patent.date-publication }})
    {%- else -%}
      , No. {{ publication.patent.number-application }} ({{ publication.patent.date-application }})
    {%- endif -%}
  {%- endif -%}

{% else %}

  {% for author in publication.authors %}
    {% assign linked = false %}
    {% assign newtab = false -%}
    {% for member in site.categories.members %}
      {% if author == member.title %}
        {% capture mem_url %}{%- if member.alterlink -%}{% assign newtab = true -%}{{ member.alterlink }}{%- else -%}{{ member.url }}{%- endif -%}{% endcapture %}
        {% unless mem_url == '#' -%}{% assign linked = true %}{% endunless -%}
        {% break %}
      {% endif %}
    {% endfor %}
    {% if publication.co-first and forloop.index == 2 %}
      {% assign co-first-now = true %}
    {% else %}
      {% assign co-first-now = false %}
    {% endif %}
    {% if linked %}
        <a href="{{ mem_url }}" class="off"{% if newtab == true %} target="_blank" rel="noopener noreferrer"{% endif %}>
      {{ author }}</a>{% if co-first-now %} [co-first author]{% endif %}{% if forloop.last %}.{% else %}, {% endif %}
    {% else %}
      {% if forloop.last %}and {% endif %}{{ author }}{% if co-first-now %} [co-first author]{% endif %}{% if forloop.last %}.{% else %}, {% endif %}
    {% endif %}
  {% endfor %}

  {% if publication.type == 'Conference' or publication.type == 'Journal' %}
  <i> {{ publication.paper.publisher }}</i> {{ publication.paper.ref }} ({{publication.paper.year}})
  {%- elsif publication.type == 'Patent' -%}
  <br/>{{ publication.patent.status }}, {{ publication.patent.nation }},
    Application No. {{ publication.patent.number-application }} ({{ publication.patent.date-application }})
    {%- if publication.patent.status == 'issued' -%}
      , Registration No. {{ publication.patent.number-publication }} ({{ publication.patent.date-publication }})
    {%- endif -%}
  {%- endif -%}

{% endif %}
