---
layout: default
title: CASLAB@Yonsei / Members
categories:
 - members
---

<div class="row">
  <div class="col-md-12">
    <h1>Professor</h1>
  </div>
</div>

<hr>
{% include member_loop_one.html role="Professor" %}

<div class="bigspacer"></div>

<div class="row">
  <div class="col-md-12">
    <h1>Students</h1>
  </div>
</div>

<hr>
{% include member_loop_two.html role="Student" %}

<div class="row">
  <div class="col-md-12">
    <h1>Alumni</h1>
  </div>
</div>
{% include member_loop_alumni.html role="Alumni" %}

