---
layout: default
---

{% assign member = page %}

<div class="row">
  <div class="col-md-3 pi-col">
{% if member.image %}
    <div class="pi-sqr">
      <div class="pi-div">
        <img class="pi-img" src="{{ member.image }}">
      </div>
    </div>
{% endif %}
    <div class="bigspacer"></div>
    <div class="profile-name">{% if member.profile_name %}{{ member.profile_name }}{% else %}{{ member.title }}{% endif %}</div>
    <div class="profile-position">{{ member.position }}</div>
    <div class="bigspacer"></div>
    <div class="hidden-xs" style="text-align:left;">
      {% include member_links.html member_loc=member %}
    </div>
  </div>

  <div class="col-md-9"> 
{% for component in member.components %}
{% case component %}
{% when 'researches' %}
    <div class="research">
  {% for research in member.researches -%}
    {% if forloop.first -%}
      <h2 id="research">Research Interests</h2>
      <ul>
    {% endif -%}
        <li>{{ research }}</li>
    {% if forloop.last -%}
      </ul>
      <div class="bigspacer"></div>
    {% endif -%}
  {% endfor -%}
    </div>

{% when 'contents' %}
    <div class="post member_content">
      {{ content }}
    </div>
    <div class="bigspacer"></div>

{% when 'publications' %}
  {% assign n_pubs = 0 %}
  {% for publication in site.categories.publications %}
    {% if publication.template -%}{% continue -%}{% endif -%}<!-- 템플릿 항목: 생략 -->
    <!-- publications 페이지에서 숨겨진 항목: {% if publication.hidden -%}{% continue -%}{% endif -%} -->
    {% unless publication.type == "Paper" -%}{% continue -%}{% endunless -%}
    <!-- 국제 페이퍼만 포함: {% unless publication.international -%}{% continue -%}{% endunless -%} -->

    {% if n_pubs == 0 %}
      {% assign counter = 0 %}
    <div class="publications">
      <div class="row">
        <div class="col-md-12">
          <h2 id="publications">Publications</h2>
          <hr style="margin-bottom: 2px">
          <div class="corr-right col-md-12">
            <span><b>* Corresponding Author</b></span>
            <div class="smallspacer"></div>
          </div>
        </div>
      </div>
    {% endif %}
      <div class="row">
        <div class="col-md-12">
          {% include pub_box_full.html pub=publication %}
          {% assign counter = counter | plus: 1 %}
        </div>
      </div>
      {% assign n_pubs = n_pubs | plus: 1 %}
  {% endfor %}
  {% unless n_pubs == 0 %}
    </div>
    <div class="bigspacer"></div>
  {% endunless %}

{% when 'patents' %}
{% assign n_pubs = 0 %}
{% for publication in site.categories.publications %}
  {% if publication.template -%}{% continue -%}{% endif -%}<!-- 템플릿 항목: 생략 -->
  <!-- publications 페이지에서 숨겨진 항목: {% if publication.hidden -%}{% continue -%}{% endif -%} -->
  {% unless publication.type == "Paper" -%}{% continue -%}{% endunless -%}
  <!-- 국제 페이퍼만 포함: {% unless publication.international -%}{% continue -%}{% endunless -%} -->

  {% if n_pubs == 0 %}
    {% assign counter = 0 %}
  <div class="publications">
    <div class="row">
      <div class="col-md-12">
        <h2 id="publications">Publications</h2>
        <hr style="margin-bottom: 2px">
        <div class="corr-right col-md-12">
          <span><b>* Corresponding Author</b></span>
          <div class="smallspacer"></div>
        </div>
      </div>
    </div>
  {% endif %}
    <div class="row">
      <div class="col-md-12">
        {% include pub_box_full.html pub=publication %}
        {% assign counter = counter | plus: 1 %}
      </div>
    </div>
    {% assign n_pubs = n_pubs | plus: 1 %}
{% endfor %}
{% unless n_pubs == 0 %}
  </div>
  <div class="bigspacer"></div>
{% endunless %}

{% when 'photos' %}
    <div class="bigspacer"></div>
{% include member_photo.html member_loc=member gall_index=0 %}
    <div class="bigspacer"></div>

    <script defer>
      init_slides();
    </script>
{% endcase %}
{% endfor %}
  </div>
</div>