---
layout: default
---

{% assign member = page %}

<div class="row">
  <div class="col-md-3 pi-col">
{% if member.image %}
    <div class="pi-sqr">
      <div class="pi-div">
        <img class="pi-img" src="{{ member.image }}">
      </div>
    </div>
{% endif %}
    <h3>{% if member.profile_name %}{{ member.profile_name }}{% else %}{{ member.title }}{% endif %}{% if member.suffix %}, {{ member.suffix }}{% endif %}</h3>
    <div class="profile-position">{{ member.position }}</div>
    <div class="profile-location">{{ member.location }}</div>
    <div class="spacer"></div>
    {% if member.info -%}
        <div class="pad-left note">
          <div class="smallspacer"></div>
          <i class="fa fa-info-circle fa-fw"></i>
          {{ member.info }}
        </div>
        <div class="spacer"></div>
    {% endif -%}
    <div class="hidden-xs" style="text-align:left;">
      {% include member_links.html member_loc=member %}
    </div>
  </div>
  <div class="col-md-9">
    <div>
{% for research in member.researches -%}
  {% if forloop.first -%}
      <h1 id="research">Research Interests</h1>
      <ul>
  {% endif -%}
        <li>{{ research }}</li>
  {% if forloop.last -%}
      </ul>
      <div class="bigspacer"></div>
  {% endif -%}
{% endfor -%}
    </div>
    <div class="post">
      {{ content }}
    </div>
{% for publication in site.categories.publications %}
  {% for author in publication.authors %}
    {% if author == member.title %}
      {% assign papersq = true %}
      {% break %}
    {% endif %}
  {% endfor %}
  {% if papersq %}
    {% break %}
  {% endif %}
{% endfor %}

{% if papersq == true %}
    <div class="bigspacer"></div>
    <h1 id="publications">Publications</h1>
    <div class="spacer"></div>

    <ol>
  {% for publication in site.categories.publications %}
    {% for author in publication.authors %}
      {% if author == member.title %}
      <li><a href="{{ publication.url }}">{{ publication.title }}</a></li>
      {% endif %}
    {% endfor %}
  {% endfor %}
    </ol>
{% endif %}
  </div>
  <div class="col-md-1"></div>
</div>