---
layout: default
---

<div class="row">
  <div class="col-md-12">
    <div class="media">
      <div class="media-body">
        <h1>
          {{ page.title }}
        </h1>
        <div class="smallhead">
          {% include member_ref.html mem_loc=page %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bigspacer"></div>

<div class="row">
  <div class="col-md-3">
    <div class="bigspacer"></div>
    <div class="glyphbox note">
      {% for link in page.links -%}
        {% if forloop.first -%}
      <div class="smallhead">
        Links
      </div>
        {% endif -%}
      <div class="pad-left note">
        <div class="smallspacer"></div>
        <i class="fa fa-external-link fa-fw"></i>
        <a class="off" href="{{ link }}" title="{{ link }}">{{ link }}</a>
      </div>
      {% endfor -%}
      <div class="bigspacer"></div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="post">
      <div class="spacer"></div>
      {{ content }}

      <div class="row">
        {% include photo_slide.html images_loc=page.images gall_index=0 %}
      </div>

      <div class="spacer"></div>
      
      <script>
        init_slides(1);
      </script>
    </div>
  </div>
</div>
