---
layout: default
---

<div class="row">
  <div class="col-md-12">
    <div class="media">
      <div class="media-body">
        <h1>
          {{ page.title }}
        </h1>
        <div class="smallhead">
          {% include member_ref.html mem_loc=page.members %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bigspacer"></div>

<div class="row">
  <div class="col-md-3">
    <div class="bigspacer"></div>
    <div class="glyphbox note">
      {% for section in page.sidebar %}
        {% include link_parse.html items=section.items %}
      {% endfor %}
      <div class="bigspacer"></div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="post">
      <div class="spacer"></div>
      {{ content }}

      {% if page.photos %}
        {% assign photo_url = "/photos/" | append: page.photos | append: "/" %}
        {% assign photo_post = site.categories.photos | where_exp: "photo_search", "photo_search.url == photo_url" %}
        {% if photo_post.size > 0 %}
      <div class="bigspacer"></div>
          {% assign photo_post = photo_post | first %}
      {% include photo_slide.html images_loc=photo_post.images gall_index=0 %}
      <div class="bigspacer"></div>
        {% endif %}
      {% endif %}
      
      <script defer>
        init_slides();
      </script>
    </div>
  </div>
</div>
