---
layout: default
---

<div class="row">
  <div class="col-md-12">
    <div class="media">
      {% if page.image %}
      <a href="{{ page.image }}"><img class="pull-left pad-right media-object" width=170 src="{{ page.image }}"></a>
      {% endif %}
      <div class="media-body">
        <h1>
          {% if page.sidebar.doi %}
          <a class="off" href="http://dx.doi.org/{{ page.sidebar.doi }}" target="_blank" rel="noopener noreferrer">
            {{ page.title }}
          </a>
          {% else %}
            {{ page.title }}
          {% endif %}
        </h1>
        <div class="smallhead">
          {% include pub_ref.html pub_loc=page short=false %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bigspacer"></div>

<div class="row">
  <div class="col-md-3">
    <div class="bigspacer"></div>
    <div class="glyphbox note">
      {% for award in page.sidebar.awards %}
        {% if forloop.first %}
      <div class="smallhead">
        Awards
      </div>
        {% endif %}
      <div class="pad-left note reveal">
        <div class="smallspacer"></div>
        <i class="fa fa-trophy fa-fw"></i>
        <span>{{ award }}</span>
      </div>
      {% endfor %}
      <div class="bigspacer"></div>
      {% if page.sidebar.pdf %}
      <div class="smallhead">
        PDF
      </div>
      <div class="pad-left note">
        <div class="smallspacer"></div>
        <i class="fa fa-file-text-o fa-fw"></i>
        <a class="off" href="{{ page.sidebar.pdf }} target="_blank" rel="noopener noreferrer"">{{ page.sidebar.pdf | split: '/' | last }}</a>
      </div>
      <div class="bigspacer"></div>
      {% endif %}
      {% if page.sidebar.supplement %}
      <div class="smallhead">
        Supplement
      </div>
      <div class="pad-left note">
        <div class="smallspacer"></div>
        <i class="fa fa-paperclip fa-fw"></i>
        <a class="off" href="{{ page.sidebar.supplement }} target="_blank" rel="noopener noreferrer"">{{ page.sidebar.supplement | split: '/' | last }}</a>
      </div>
      <div class="bigspacer"></div>
      {% endif %}
      {% if page.sidebar.doi %}
      <div class="smallhead">
        DOI
      </div>
      <div class="pad-left note">
        <div class="smallspacer"></div>
        <i class="fa fa-external-link fa-fw"></i>
        <a class="off" href="http://dx.doi.org/{{ page.sidebar.doi }} target="_blank" rel="noopener noreferrer"">{{ page.sidebar.doi }}</a>
      </div>
      <div class="bigspacer"></div>
      {% endif %}
      {% if page.sidebar.github %}
      <div class="smallhead">
        Source Code
      </div>
      <div class="pad-left note">
        <div class="smallspacer"></div>
        <i class="fa fa-github-alt fa-fw"></i>
        <a class="off" href="{{ page.sidebar.github }} target="_blank" rel="noopener noreferrer"">{{ page.sidebar.github | remove: 'http://github.com/' | remove: 'https://github.com/' }}</a>
      </div>
      <div class="bigspacer"></div>
      {% endif %}
      {% if page.sidebar.links %}
      <div class="smallhead">
        More Info
      </div>
        {% for link in page.sidebar.links %}
      <div class="pad-left note{% if link.reveal %} reveal{% endif %}"{% if link.title %} title="{{ link.title }}"{% endif %}>
        <i class="fa {% if link.icon %}{{ link.icon | prepend: 'seungkyu-' | remove: '-fa-' | remove: 'seungkyu-' | remove: 'seungkyu' | prepend: 'fa-' }}{% else %}fa-external-link{% endif %} fa-fw"></i>
        <span>
          {% unless link.url == '#' %}
          <a class="off" href="{{ link.url }}"{% unless link.ontab %} target="_blank" rel="noopener noreferrer"{% endunless %}>
          {% endunless %}
            {% if link.name %}{{ link.name }}{% else %}{{ link.url }}{% endif %}
          {% unless link.url == '#' %}
          </a>
          {% endunless %}
        </span>
      </div>
      <div class="spacer"></div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  <div class="col-md-8">
    <div class="post">
      <h2>Abstract</h2>
      <div class="spacer"></div>
      {{ content }}

      {% for keyword in page.keywords %}
        {% if forloop.first %}
          <div class="bigspacer"></div>
          <h2>Keywords</h2>
          <p>
        {% endif %}
            {{ keyword }}{% if forloop.last %}.</p>{% else %}, {% endif %}
      {% endfor %}

      {% assign linked = false %}
      {% for field in page.researches %}
        {% for topic in site.categories.research %}
          {% if topic.alias == field %}
            {% unless linked %}
              {% assign linked = true %}
      <div class="bigspacer"></div>
      <h2>Related Research Topics</h2>
            {% endunless %}
      <p>
        <a href="/research/#{{ topic.alias }}">
          {{ topic.title }}
        </a>
      </p>
            {% break %}
          {% endif %}
        {% endfor %}
      {% endfor %}
      
    </div>
  </div>
  <div class="col-md-1"></div>
</div>


{% comment %}
  {% for topic in site.categories.research %}
    {% assign listed = false %}
    {% for doi in topic.publication-dois %}
      {% if doi == page.sidebar.doi %}
        {% assign listed = true %}
        {% break %}
      {% endif %}
    {% endfor %}
    {% if listed == true %}
      {% break %}
    {% endif %}
  {% endfor %}

  {% if listed == true %}
  <div class="bigspacer"></div>
  <h2>Related Research Topics</h2>
    {% for topic in site.categories.research %}
      {% assign topic_index = forloop.index %}
      {% assign listed = false %}
      {% for doi in topic.publication-dois %}
        {% if doi == page.sidebar.doi %}
  <p>
    <a href="/research/#topic{{ topic_index }}">
      {{ topic.title }}
    </a>
  </p>
          {% assign listed = true %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endif %}
{% endcomment %}