---
layout: default
---

<div class="row">
  <div class="col-md-12">
    <div class="media">
      {% if page.image %}
      <a href="{{ page.image }}"><img class="pull-left pad-right media-object" width=170 src="{{ page.image }}"></a>
      {% endif %}
      <div class="media-body">
        <h1>
          {% if page.doi %}
          <a class="off" href="http://dx.doi.org/{{ page.doi }}" target="_blank" rel="noopener noreferrer">
            {{ page.title }}
          </a>
          {% else %}
            {{ page.title }}
          {% endif %}
        </h1>
        <div class="smallhead">
          {% include pub_ref.html pub_loc=page short=false %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bigspacer"></div>

<div class="row">
  <div class="col-md-3">
    <div class="bigspacer"></div>
    <div class="glyphbox note">
      {% for section in page.sidebar %}
        {% include link_parse.html items=section.items %}
      {% endfor %}
      {% if page.doi %}
      <div class="smallhead">
        DOI
      </div>
      <div class="pad-left note">
        <i class="fa fa-external-link fa-fw"></i>
        <a class="off reveal" href="http://dx.doi.org/{{ page.doi }}" target="_blank" rel="noopener noreferrer">{{ page.doi }}</a>
      </div>
      <div class="spacer"></div>
      {% endif %}
    </div>
  </div>
  <div class="col-md-8">
    <div class="post">
      {% for component in page.components %}
      {% case component %}
      {% when 'abstract' %}
      <h2>Abstract</h2>
      <div class="spacer"></div>
      {{ content }}

      {% when 'keywords' %}
        {% for keyword in page.keywords %}
          {% if forloop.first %}
          <div class="bigspacer"></div>
          <h2>Keywords</h2>
          <p>
          {% endif %}
            {{ keyword }}{% if forloop.last %}.</p>{% else %}, {% endif %}
        {% endfor %}

      {% when 'topics' %}
        {% assign linked = false %}
        {% for field in page.researches %}
          {% for topic in site.categories.research %}
            {% if topic.alias == field %}
              {% unless linked %}
                {% assign linked = true %}
      <div class="bigspacer"></div>
      <h2>Related Research Topics</h2>
              {% endunless %}
      <p>
        <a href="{{ topic.url }}">
          {{ topic.title }}
        </a>
      </p>
              {% break %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% endcase %}
      {% endfor %}
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
