---
layout: default
title: CASLAB@Yonsei / Publications
categories:
 - publications
---

{% assign n_pubs = 0 %}
{% for publication in site.categories.publications %}
  {% if publication.template -%}{% continue -%}{% endif -%}
  {% if publication.hidden -%}{% continue -%}{% endif -%}
  {% unless publication.type == "Paper" -%}{% continue -%}{% endunless -%}
  {% unless publication.international -%}{% continue -%}{% endunless -%}

  {% if n_pubs == 0 %}
    {% assign counter = 0 %}
  <div class="row">
    <div class="col-md-12">
      <h1>Publications</h1>
      <hr style="margin-bottom: 2px">
      <div class="corr-right col-md-12">
        <span><b>* Corresponding Author</b></span>
        <div class="smallspacer"></div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-md-12">
      {% include pub_box_full.html pub=publication %}
      {% assign counter = counter | plus: 1 %}
    </div>
  </div>
  {% assign n_pubs = n_pubs | plus: 1 %}
{% endfor %}

{% comment %}
{% assign n_pubs = 0 %}
{% for publication in site.categories.publications %}
  {% if publication.template -%}{% continue -%}{% endif -%}
  {% if publication.hidden -%}{% continue -%}{% endif -%}
  {% unless publication.type == "Paper" -%}{% continue -%}{% endunless -%}
  {% unless publication.international -%}{% continue -%}{% endunless -%}

  {% if n_pubs == 0 %}
    {% assign counter = 0 %}
  <div class="row">
    <div class="col-md-12">
      <h1>Publications</h1>
      <hr>
    </div>
  </div>
  <div class="row">
  {% else %}
    {% assign counter = counter | plus: 1 %}
    {% assign mod = counter | modulo: 2 %}
    {% if mod == 0 %}
  </div>
  <div class="row">
    {% endif %}
  {% endif %}

    {% include pub_box.html pub=publication %}
  {% assign n_pubs = n_pubs | plus: 1 %}
{% endfor %}
{% if n_pubs > 0 %}
  </div>
{% endif %}
{% endcomment %}

{% comment %}
<!-- 국내 페이퍼: 생략 -->
{% assign n_pubs = 0 %}
{% for publication in site.categories.publications %}
  {% if publication.template -%}{% continue -%}{% endif -%}
  {% if publication.hidden -%}{% continue -%}{% endif -%}
  {% unless publication.type == "Paper" -%}{% continue -%}{% endunless -%}
  {% if publication.international -%}{% continue -%}{% endif -%}
  {% if n_pubs == 0 %}
    {% assign counter = 0 %}
  <div class="row">
    <div class="col-md-12">
      <h1>Domestic Papers</h1>
      <hr>
    </div>
  </div>
  <div class="row">
  {% else %}
    {% assign counter = counter | plus: 1 %}
    {% assign mod = counter | modulo: 2 %}
    {% if mod == 0 %}
  </div>
  <div class="row">
    {% endif %}
  {% endif %}

    {% include pub_box.html pub=publication %}
  {% assign n_pubs = n_pubs | plus: 1 %}
{% endfor %}
{% if n_pubs > 0 %}
  </div>
{% endif %}

<!-- 특허: 생략 -->
{% assign n_pubs = 0 %}
{% for publication in site.categories.publications %}
  {% if publication.template -%}{% continue -%}{% endif -%}
  {% if publication.hidden -%}{% continue -%}{% endif -%}
  {% unless publication.type == "Patent" -%}{% continue -%}{% endunless -%}
  {% if n_pubs == 0 %}
    {% assign counter = 0 %}
  <div class="row">
    <div class="col-md-12">
      <h1>Patents</h1>
      <hr>
    </div>
  </div>
  <div class="row">
  {% else %}
    {% assign counter = counter | plus: 1 %}
    {% assign mod = counter | modulo: 2 %}
    {% if mod == 0 %}
  </div>
  <div class="row">
    {% endif %}
  {% endif %}

    {% include pub_box.html pub=publication %}
  {% assign n_pubs = n_pubs | plus: 1 %}
{% endfor %}
{% if n_pubs > 0 %}
  </div>
{% endif %}

{% endcomment %}
